@import url("../../../assets/iconfont.css");
.mask {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000;
  transition: all 0.3s;
  visibility: hidden;
  &.show {
    visibility: visible;
    background-color: #3333;
  }
  &.show .popups {
    transform: translateY(0);
  }
  .popups {
    transition: all 0.3s;
    position: absolute;
    transform: translateY(100%);
    bottom: 0;
    width: 100vw;
    background-color: #ddd;
    border-radius: 40px 40px 0 0;
    input {
      margin: 20px;
      padding: 0 20px;
    }
    .input-list {
      display: flex;
      flex-wrap: wrap;
      View {
        border: 1px solid #557cf1;
        color: #557cf1;
        border-radius: 10px;
        padding: 10px 20px;
        margin: 10px;
      }
      .gray {
        color: gray;
        border: 1px solid gray;
      }
    }
  }
}
