.page {
  min-height: 100vh;
  .bottom-fixed {
    position: fixed;
    right: 40px;
    bottom: 50px;
    .icon-add {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #557cf1;
      color: #fff;
      font-size: 68px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
}
