@import url("../../../assets/iconfont.css");

.list {
  .list-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    .iconfont {
      margin-left: 10px;
      transform: rotate(-90deg);
      transition: all ease-in-out 0.8s;
      &.down {
        transform: rotate(-180deg);
      }
    }
  }
  .list-content {
    padding: 0 20px;
    transition: all all ease-in-out 0.8s;
    overflow: hidden;
    .list-item {
      display: flex;
      align-items: center;
      padding: 10px 0;
      .money {
        font-family: "Google Sans";
      }
    }
  }
}
