@import url("../../../assets/iconfont.css");

.list {
  .list-month-title {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }
  .list-day-title {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    font-size: 26px;
    color: #666;
    .iconfont {
      margin-left: 10px;
      transform: rotate(-90deg);
      transition: all ease-in-out 0.8s;
      &.down {
        transform: rotate(-180deg);
      }
    }
  }
  .list-content {
    padding: 0 20px;
    transition: all all ease-in-out 0.8s;
    overflow: hidden;
    .list-item {
      padding: 10px 0;
      display: flex;
      position: relative;
      View {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      .money {
        font-family: "Google Sans";
      }
      .icon {
        position: absolute;
        background-color: white;
        border: 1px solid #557cf1;
        border-radius: 50%;
        padding: 5px 10px;
        color: #557cf1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
